
.buttonMenu{
  display: flex;
  gap: 12px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(156, 158, 171, 1);
}

.RightContent{
  padding-left: 28px;
  border-left: 1px solid rgba(44, 45, 59, 1);
  font-size: 16px;
  color: rgba(204, 204, 204, 1);
  width: 50%;
  font-weight: 500;
}

.RightHeader{
  font-size:24px;
  display: flex;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 28px;
}

.RightTitle{
  font-size: 14px;
  color: rgba(133, 134, 151, 1);
  font-weight: 400;
}

.SmallText{
  font-weight:300;
  size: 14px;
  color: rgba(204, 204, 204, 1);
  margin-top: 6px;
  line-height: 17px;
}

.Deposit{
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(44, 45, 59, 1);
  width: 70%;
}

.SelectContainer {
  display: flex;
  border-radius: 12px;
  padding: 6px;
  margin-top: 16px;
  margin-bottom: 8px;
  gap: 12px;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}

.Title {
  color: #858697;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.SubTitle {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.SubTitle2 {
  color: #858697;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.SelectOption {
  flex: 1;
  padding: 10px;
  margin: 0;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background: inherit;
  border-radius: 8px;
  color: #858697;
  border: 1px solid #2C2D3B;
}

.SelectOption:hover {
  background: #232534;
}

.LabelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.Label {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #CCCCCC;
  justify-content: space-between;
  width: 100%;
}

.Label svg {
  margin-left: 4px;
}

.quickInputButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quickInputButton button{
  margin-bottom: 8px;
  width: 22%;
  color: rgba(172, 179, 249, 1);
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(38, 39, 53, 1);
  border-radius: 6px;
}

.CustomSelection {
  display: flex;
  justify-content: flex-end;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #858697;
}

.BottomContainer {
  margin-top: 16px;
}

.RightLabel {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #858697;
}

.Active {
  background-color: #232534;
  color:#ACB3F9;
}

.ButtonContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  gap: 6px;
  width: 100%;
  height: 48px;
  background: #20212D;
  border: 0.5px solid #393B4C;
  border-radius: 6px;
  color: #A6ADFA;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
}

.Ellipse {
  position: absolute;
  width: 100%;
  height: 48px;
  left: 0;
  top: 38px;
  background: rgba(126, 135, 255, 0.8);
  filter: blur(25px);
}

.CloseButton {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.DropdownIcon {
  transform: rotate(90deg);
}

.Label1 {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.InputContainer {
  position: relative;
  margin-top: 16px;
}

.InputGroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 12px;
}

.IconContainer {
  position: absolute;
  left: 16px;
  margin-top: 4px;
  z-index: 1;
}

.Icon {
  font-weight: 600;
  font-size: 18px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.InputField {
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  background-color: #1C1D26;
  border: 1px solid #2C2D3B;
  border-radius: 12px;
  color: #858697;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.InputFieldDeposit {
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  background-color: #1C1D26;
  border: 1px solid #2C2D3B;
  border-radius: 12px;
  color: #858697;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.InputField::placeholder, .InputFieldDeposit::placeholder {
  color: #858697 !important;
}

.InputFieldPrincipal {
  height: 60px;
  padding: 16px;
  padding-left: 32px;
  box-sizing: border-box;
  background-color: #1C1D26;
  border: 1px solid #2C2D3B;
  border-radius: 12px;
  color: #858697;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.InputField::placeholder, .InputFieldDeposit::placeholder {
  color: #858697 !important;
}

.MaxButton {
  position: absolute;
  right: 8px;
  width: 60px;
  height: 25px;
  padding: 0;
  background-color: #3C3C48;
  color: #CCCCCC;
  /* z-index: 2; */
}

.SelectDuration{
  position: absolute;
  left: 8px;
  top: 80px;
  width: 60px;
  height: 25px;
  padding: 0;
  background-color: #3C3C48;
  color: #CCCCCC;
  width: 100%;
}

.SelectOption{
  background-color: #3C3C48;
  color: #CCCCCC;
  width: 100%;
}

.DropDownDuration{
  position: absolute;
  left: 8px;
  /* top: 28px; */
  cursor: pointer;
}

.DropDownElements{
  position: absolute;
  width: 100%;
  background-color: #1C1D26;
  top: 80px;
  height: 111px;
  overflow: scroll;
}

.DropDownElements > button{
  width: 100%;
  background-color: #1C1D26;
  height: 37px;
  /* border-radius: 12px; */
  display: flex;
  justify-content: center;
  border: 0.5px solid #2C2D3B;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.DropDownElements > button:hover{
  background-color: #2C2D3B;
}

.DropDownElements > button > p{
  align-self: center;
}

.TokenSelect {
  border: none;
  background-color: transparent;
  color: inherit;
}

.TokenOption {
  background-color: #2C2D3B;
  color: white;
}

.TokenOption:hover {
  background-color: #4E4F5B;
}

.TransferButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 48px;
  margin-top: 30px;

  background: linear-gradient(89.44deg, rgb(85, 105, 219) -0.31%, rgb(133, 114, 255) 91.14%);
  font-weight: 500;
  color: rgba(166, 173, 250, 1);
  color: white;
  text-decoration: none;

  font-size: 18px;
}
