.PageContainer {
  min-height: calc(100vh - 62px);
  background: rgba(24, 25, 33, 1);
  padding: 20px;
  box-sizing: border-box;
}

.LiquidityOuterContainer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.LiquidityContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 20px;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;
  /* height: 144px; */
  width: 50%;

  box-shadow: none;
  background-image: none;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(17, 25, 54);
  color: white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.CardContainer a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 48px;
  margin-top: 70px;

  background: linear-gradient(89.44deg, rgb(85, 105, 219) -0.31%, rgb(133, 114, 255) 91.14%);
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.Btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 48px;
  margin-top: 70px;

  background: linear-gradient(89.44deg, rgb(85, 105, 219) -0.31%, rgb(133, 114, 255) 91.14%);
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.PositionOuterContainer {
  padding: 24px;
  min-height: 144px;
  width: 40%;
  background-color: rgb(17, 25, 54);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
  background-image: none;
  color: white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.TopContainer {
  display: flex;
  justify-content: space-between;
}

.PositionContainer {
  margin-top: 10px;
}

.PositionInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(32, 41, 73);
}

.Title {
  font-size: 20px;
  font-weight: 600;
}

.Subtitle {
  font-size: 14px;
  color: rgb(132, 146, 196);
}

.RightContainer input[type="checkbox"] {
  vertical-align:middle;

  height: 20px;
  width: 20px;
  margin: 0 5px;

  color: rgb(132, 146, 196);
  background-color: transparent;
  border: 2px solid rgb(132, 146, 196);
}
