.PageContainer {
  min-height: calc(100vh - 62px);
  background: rgba(24, 25, 33, 1);
  padding: 20px;
  box-sizing: border-box;
}

.SwapContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 20px;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;
  /* height: 244px; */
  width: 40%;

  box-shadow: none;
  background-image: none;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.CardContainer form{
  display: flex;
  flex-direction: column;

  padding: 8px;
  width: 100%;

  box-shadow: none;
  background-image: none;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.CardContainer a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 48px;
  margin-top: 70px;

  background: linear-gradient(89.44deg, rgb(85, 105, 219) -0.31%, rgb(133, 114, 255) 91.14%);
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.SwapButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 48px;
  margin-top: 30px;

  background: linear-gradient(89.44deg, rgb(85, 105, 219) -0.31%, rgb(133, 114, 255) 91.14%);
  font-weight: 500;
  color: rgba(166, 173, 250, 1);
  color: white;
  text-decoration: none;

  font-size: 18px;
}

.SwapButtonDisable {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 48px;
  margin-top: 30px;

  color: rgba(166, 173, 250, 1);
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;

  /* background: linear-gradient(89.44deg, rgb(85, 105, 219) -0.31%, rgb(133, 114, 255) 91.14%); */
  background: radial-gradient(ellipse at bottom,rgba(126, 135, 255, 0.8) 0% ,  rgba(24, 25, 33, 1) 100%);
  font-size: 18px;
  cursor: not-allowed;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.TokenContainer{
  border: 1px solid rgba(44, 45, 59, 1);
  padding: 8px 20px 20px 20px;
  border-radius: 12px;
}

.TokenContainerSelector{
  border-radius: 12px;
  /* height: 70px; */
  width: 100%;
  display: flex;
}

.TokenContainerSelector button {
  align-self: center;
  background: rgba(38, 39, 53, 1);
  display: flex;
  padding: 4px 12px;
  padding-left: 16px;
}

.Active {
  background-color: rgba(126, 135, 255, 1);
}

.TokenContainerSelector svg {
  align-self: center;
}

.TokenContainer input{
  flex-basis: 0px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  font-size: 32px;
  text-align: left;
  font-weight: 500;
  color: rgba(133, 134, 151, 1);
  background: rgba(24, 25, 33, 1);
}

.TokenContainer p{
  text-align: right;
  font-weight: 500;
  color: rgba(133, 134, 151, 1);
  margin-top: 0;
}

.TokenContainerSelector p {
  margin-top: 16px;
  align-self: center;
  color: #fff;
}

.TokenContainerSelector img {
  align-self: center;
  height: 28px;
  margin-right: 8px;
}

* input:focus{
  outline: none;
}

.HeaderContainer input{
  text-align: right;
  margin-left: 10px;
}

.Dropdown {
  display: none;
  background-color: rgba(38, 39, 53, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 1;
  width: 300px;
}

.Show {
  display: flex;
  justify-content: space-between;
}

.quickInputButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quickInputButton button{
  margin-bottom: 8px;
  width: 22%;
  color: rgba(172, 179, 249, 1);
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(38, 39, 53, 1);
  border-radius: 6px;
}

* input::-webkit-input-placeholder{
  color :rgba(133, 134, 151, 1);
}
* input:-moz-placeholder {
  color: rgba(133, 134, 151, 1);
}