.AuthSection {
  width: 100%;
  height: 62px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(24, 25, 33, 1);
  border-bottom: 1px solid rgba(44, 45, 59, 1);
  z-index: 2;
}

.AuthSection button {
  font-weight: 600;
  height: 42px;
}

.AuthSection img {
  margin: 8px 0 0 32px;
}

.LeftContainer {
  display: flex;
}

.RightContainer {
  display: flex;
}


.RightContainer .LoginButton {
  margin-left: 10px;
  padding: 0px 16px 0px 16px;
  display: flex;
}

.LoginIcon {
  align-self: center;
}
