.NavigationSection {
  width: 100%;
  margin-left: 20px;
}

.NavigationInnerContainer {
  display: flex;
  justify-content: center;

  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;

}

.NavigationInnerContainer a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 15px;
  height: 45px;
  width: 82px;
  font-weight: 500;

  text-decoration: none;
  color: #D9DAE8;
  border-radius: inherit;
  cursor: pointer;
}

.NavigationInnerContainer .Active {
  color: #ACB3F9;
}
